@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow-y: hidden;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
}

input:focus{
    outline: none;
}

#galery{
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    background-color: #333;
    padding-bottom: 8px;
}

#galery ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

#galery ul .text{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

#galery li span{
    font-size: 14px;
    padding: 4px 8px;
    color: #fff;
    border-radius: 8px;
    margin-top: 4px;
    margin-left: 4px;
}

#galery li .img{
    width: 100px;
    height: 100px;
    margin-left: 16px;
    margin-top: 4px;
    position: relative;
}

#galery li .img img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

#galery ul li .img .linkButton{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    position: absolute;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    background-color: #2222227c;
}

#form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background-color: #222;
    padding-top: 8px;
    padding-bottom: 8px;
}

#form label{
    width: 16px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    padding: 0px 12px;
    margin-right: 4px;
}

#form label svg{
    width: 16px;
    color: #fff;
}

#form #title{
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 8px;
    margin-left: 8px;
}

#form #title:focus{
    outline: none;
}

#form button{
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#form label input[type="file"]{
    display: none;
}

@media(max-width: 500px){
    #galery{
        height: 86vh;
    }
}

.configButton{
    background-color: #222;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.configButton svg{
    width: 16px;
    cursor: pointer;
}

.settings{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #2222228a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings #settingsForm{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    padding: 32px;
    border-radius: 12px;
    background-color: #222;
    position: relative;
}

.settings #settingsForm .close{
    border-radius: 26px;
    padding: 5px 8px;
    background-color: #444;
    color: #fff;
    font-weight: 600;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.settings #settingsForm input[type="text"]{
    max-width: 100%;
    border-radius: 4px;
    background-color: #333;
    border: none;
    padding: 4px 8px;
}

.settings #settingsForm label{
    color: #fff;
}

.settings #settingsForm button{
    background-color: transparent;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
}

.settings #settingsForm .saveBtn{
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.settings #settingsForm .labelInput{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

.block{
    display: none;
}

.visible{
    display: flex;
}